name: Deploy to Render

on:
  workflow_run:
    workflows: ["Pytest"]
    branches: [trunk]
    types:
      - completed

jobs:

  deploy:
    name: Deploy to Render
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Deploy to Render
        env:
          deploy_url: ${{ secrets.RENDER_TEST_HOOK_URL }}
        run: |
          curl "$deploy_url"
